	*, html{
		margin: 0 auto;
		font-weight: 500;
		letter-spacing: -0.02em; 
		line-height: 1.8; 
		font-family: Circular, Helvetica, Arial, sans-serif;
	}

	body{
		background: rgba(180, 187, 198, 0.2);
		margin: 0 auto;
		text-align: center;
	}

	section{ 
		margin: 12% auto;
	}

	p{
		font-size: 16px;
	}

	h1{
		font-size: 40px;
		font-weight: 800;
	}