                  /*HEADER & FOOTER*/
*{
  font-family: 'Open sans', sans-serif;
}
.background{
  background-color: black;
  color: white;
  line-height: 15px;
}
.background .container h1.type-title{
  padding: 19px 0;
  font-size: 22px;
  margin: 0;
  letter-spacing: -1px;
}
.background .container h1.type-title a{
  color: white;
  text-decoration: none;
}
.background .container h1.type-title a:hover{
  color: #EC4400;
  transition: all 0.25s ease;
}
.background h2{
  font-size: 34px;
  font-weight: bold;
  padding: 38px 0px;
  margin: 0;
}
.background p{
  font-size: 13px;
  font-weight: 600;
  padding: 7px 0;
  margin: 0;
}
.background h3{
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0 0;
  margin: 0;
}
.background h2:after{
  position: absolute;
  bottom: 51%;
  left: 47%;
  content: "";
  width: 5%;
  height: 3px;
  color: #999999;
  background-color: #fdd300;
}

@media (min-width: 426px){
  .background h1{
    font-size: 28px;
  }
  .background h1 a{
    font-size: 28px;
  }
  .background h2:after{
    bottom: 45%;
    left: 47%;
  }
  .background .container .row h3{
    margin: 22px 0;
  }
  .background .container .row .txt-left{
    text-align: right;
    padding-right: 10%;
  }
  .background .container .row .txt-right{
    text-align: left;
  }
  .background h2{
    font-size: 38px;
  }
}

/*----------- HEADER FOOTER------------*/

.box-form{
  background-color: white;
  border: 1px solid rgba(255, 255, 255);
  border-radius: 8px;
  margin: 20% 2%;
  box-shadow: 0px 0 3px rgba(0,0,0,.2);
}
.box-form .form-content h4{
  font-size: 28px;
  color: #7F7F7F;
  padding: 8%;
  letter-spacing: -1px;
  font-weight: 600;
}
.buttontype{
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(73, 126, 187);
  border-color: rgb(73, 126, 187);
  margin: 6% 0 5%;
}
.box-form .col-md-12 a{
  color: rgb(73, 126, 187);
  font-weight: 600;
}
.box-form .form-row .col-md-12 .pform{
  margin: 10px 0;
  padding: 3px;
}
.form-control {
  margin: 2px 0;
  background-color: #ECECEC;
  border-radius: 6px;
  border-color: #ECECEC;
}
.box-form .form-row .col-md-12 input.form-control:hover{
  background-color: #ECECEC;
}

@media (min-width: 426px){
  .box-form{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .box-form .form-content h4{
    font-size: 32px;
    padding: 55px 0 15px 0;
  }
  .form-content .container-fluid{
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
  }
  .form-control{
    height: 45px;
    font-size: 18px;
  }
  .buttontype{
    font-size: 18px;
  }
}

@media (min-width: 769px){
  .box-form{
    height: 440px;
  }
  .form-control{
    margin: 4px 0;
  }
  .buttontype{
    margin-top: 40px;
  }
  .box-form .form-row .col-md-12 .pform{
    margin: 0px 0;
  }
}