* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
}

.chamada1 {
  max-width: 992px !important;
  width: 100%;
  padding: 15px;
  margin: auto;
}

.form {
  border: 1px solid #000;
  padding: 90px 50px;
  background: #ebeef4;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"], 
.form-signin input[type="password"] {
  border-radius: 0;
  border: 1px solid #ccc;
  background: none;
}

.form-signin input[type="email"] {
  /*margin-bottom: -1px;*/
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  margin-top: 20px;
}